*{
    margin: 0;
    border: 0;
}
#title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
}

#container {
    height: auto;
    width: 80%;
    border: 1px solid green;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
    
}

.book-card, .add-book-btn-card{
    flex: 1 1 33%;
    min-height: 5rem;
    min-height: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
}

.book-card:hover{
    background-color: green;
    border-radius: 15px;
    transition: 0.5s;
}

#add-book-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#add-book-btn{
    border-radius: 15px;
    display: block;
    margin: 2rem auto;
    text-align: center;  
    border: 1px solid green;
    padding: 1rem;
    width: auto;  
    height: auto;  
}

#add-book-btn:hover{
    background-color: green;
    transition: 0.5s;
}

.add-book-btn-card{
   min-height: auto;
   max-width:fit-content;
   border: 1px solid red;
   border-radius: 15px;
   margin: 3rem auto;
   padding: 1rem;
   
}

input{
    font-size: 1rem;
}

.book-card button:hover{
    background-color: red;
}